{%extends "base.html"%}
{%block title%}Метод {{ method }}{%endblock%}
{%block head%}{{super()}}{%endblock%}
{%block page_content%}
<div class="page-header">
	<h1>Оценка качества методов(силуэт)</h1>
</div>
<div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
				<th></th>
				<th>K-Means</th>
				<th>DBSCAN</th>
				<th>Birch</th>
            </tr>
          </thead>
          <tbody>
			{% for i in range(8) %}
            <tr>
				<td>{{ years[i] }}</td>
				<td>{{ index1[i] }}</td>
				<td>{{ index2[i] }} </td>
				<td>{{ index3[i] }} </td>
            </tr>
			{% endfor %}
			<tr>
				<td>Среднее значение</td>
				<td>{{ aver_ind1 }}</td>
				<td>{{ aver_ind2 }} </td>
				<td>{{ aver_ind3 }} </td>
            </tr>
          </tbody>
        </table>
      </div>
<h2>Лучший метод: {{ best }}</h2>
{%endblock%}