{%extends "base.html"%}
{%block title%}Метод {{ method }}{%endblock%}
{%block head%}{{super()}}{%endblock%}
{%block page_content%}
<div class="page-header">
	<h1>Метод {{ method }}</h1>
	<p>Качество кластеризации по методу силуэта {{ index }}</p>
</div>
<h2>Количество субъектов в каждом кластере</h2>
<div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
				<th>Номер кластера</th>
				{% for year in years %}
				<th>{{ year }} </th>
				{% endfor %}
            </tr>
          </thead>
          <tbody>
			{% for subjects in subj_numb %}
            <tr>
				{% for number in subjects %}
				<td>{{ number }} </td>
				{% endfor %}
            </tr>
			{% endfor %}
          </tbody>
        </table>
      </div>
{%endblock%}